@model Movie

<div class="row">
    <div class="col-md-3">
        <!--<partial name="_menu" , model="Model.Categories" />-->
        @await Component.InvokeAsync("CategoryMenu");
    </div>
    <div class="col-md-9">
        <div class="card" style="margin-bottom:5px;">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img class="card-img-top" src="~/img/@Model.ImageUrl" alt="@Model.Description">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">
                            @Model.Name
                        </h5>
                        <p class="card-text">@Model.Description</p>
                        @Html.Raw(Model.LongDescription)
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
